<!doctype html>
<html>
<head>
    <title>The Pem is Mightier than the Sword</title>
    <!--
    - Include you stylesheets and javascripts in here
    - Load from /assets/javascripts and /assets/stylesheets
    - Try to avoid inline javascript and css if you can
    -->

    <!-- Included scripts -->
    <script type="text/javascript" src="js/jquery/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap/tether.min.js"></script>
    <script type="text/javascript" src="js/bootstrap/bootstrap.min.js"></script>

    <!-- Theme -->
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/creative/creative.min.css" />
    <link rel="stylesheet" href="css/fontawesome/css/font-awesome.css" />
    <!-- My styles -->
    <link rel="stylesheet" href="css/pem.css" />

    <!-- The main javacript file containing all the magical stuff-->
    <script type="text/javascript" src="js/StringUtils.js"></script>
    <script type="text/javascript" src="js/pem.js"></script>

</head>
<body id="page-top">

<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 id="homeHeading">The Pem is Mightier than the Sword</h1>
            <hr>
            <p>Changing the world, one line of code at a time</p>
        </div>
    </div>
</header>

<section id="mblog_proper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="section-heading pull-left">Microblog away!</h2>
                <button class="btn btn-primary pull-right" id="btn_new_mblog">
                    <i class="fa fa-asterisk"></i> New
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" id="mblog_posts">
                <!-- This will be populated -->
                <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we
                    will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x sr-contact"></i>
                <p>+63917-911-1111</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                <p><a href="mailto:lord@pem.com">lord@pem.com</a></p>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="mblog_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Share your thoughts</h4>
            </div>
            <div class="modal-body">
                <form name="mblog_form">
                    <input type="hidden" id="mblog_rowid" name="mblog_rowid" />
                    <div class="row">
                        <div class="col-sm-12" id="mblog_poster"></div>
                        <div class="col-sm-12" id="mblog_date"></div>
                    </div>
                    <div class="form-group">
                        <label for="mblog_content">Your voice, unchained</label>
                        <textarea class="form-control"
                                  id="mblog_content"
                                  name="mblog_content"
                                  rows="5"
                                  placeholder="What's on your mind?"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" id="btn_delete_mblog">Delete</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn_submit_mblog">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</body>
</html>
